.footer{
  padding-bottom: 150px;
}

.footer__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../Assets/images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 47px 85px 49px ;
}

.social__list{
  display: flex;
  align-items: center;
}
